@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 8vh;
  background-color: #218c74;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-header__item button:hover {
  color: #fadf86;
}

.main-header__item a,
.main-header__item button {
  text-decoration: none;
  color: white;
  font-size: 22px;
  transition: color 0.3s ease-out;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #fadf86;
}

.header__item-last {
  margin-left: auto;
  margin-right: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 300px;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.product__image {
  width: 100%;
  height: 300px;
}

.product__image img {
  width: 100%;
  height: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__action--has-child {
  display: flex;
  justify-content: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #218c74;
  color: #218c74;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-out;
}

.btn:hover,
.btn:active {
  background-color: #218c74;
  color: white;
}

.btn__edit {
  background-color: #2980b9;
  color: #fff;
  border: 1px solid #2980b9;
  text-decoration: none;
}

.btn__edit:hover {
  background-color: transparent;
  color: #2980b9;
}

.btn__delete {
  background-color: #c0392b;
  color: #fff;
  border: 1px solid #c0392b;
}

.btn__delete:hover {
  color: #c0392b;
  background-color: transparent;
}

.btn__details {
  text-decoration: none;
  color: #2980b9;
  border: 1px solid #2980b9;
}

.btn__details:hover {
  color: #fff;
  background-color: #2980b9;
}

.heading-error {
  color: #218c74;
  text-align: center;
  margin-top: 80px;
}

.cart__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cart__img {
  width: 300px;
  height: 300px;
}

.cart p {
  max-width: 400px;
}

.product__item--details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 92vh;
  width: 100vw;
}

.product__image--details {
  height: 400px;
  width: 600px;
  text-align: center;
}

.product__image--details img {
  height: 100%;
  width: 100%;
}

.product__description--details {
  max-width: 600px;
}

.card__content--details {
  text-align: center;
}

.order-container {
  width: 100vw;
  text-align: center;
}

.error {
  color: #ea2027;
  text-align: center;
  font-size: 20px;
  border: 2px solid #ea2027;
  background-color: #ffbec4;
  height: auto;
  width: 30rem;
  padding: 5px 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.error p {
  padding: 0;
  margin: 0;
}
