<%- include('../includes/head.ejs') %>
<body>
    <div class="container">
        <h1 class="mb-4">New Article</h1>
<form action="/articles" method="POST" class="mb-3">
        <%- include('../includes/form.ejs') %>
        <a href="/articles" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
</form>
    </div>
</body>
</html>